@import "tailwindcss";

* {
  font-family: "Manrope", serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ef4444;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dc2626;
}

 .dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #fbbf24;
  border-radius: 4px;
}

 .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f59e0b;
}

@theme {
  --animate-bounce: bounce 2s infinite;

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-75%);
      animation-timing-function: ease-out;
    }

    50% {
      transform: translateY(2px);
      animation-timing-function: ease-out;
    }
  }
}

@custom-variant dark (&:where(.dark, .dark *));